// IMPORT MIXIN FILE
@import "../mixins";

// CONTACT START
.contact {
  width: 100%;
  padding: 112px 0;
  .container {
    padding: 0 15px;
    .row {
      display: flex;
      flex-direction: column;

      //? CONTACT TOP START
      .contactTop {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .contactItem {
          width: 25%;
          background-color: #fafafa;
          padding: 24px 39px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          h4 {
            font-size: 20px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.8);
          }
          a {
            line-height: 1.8;
            color: #666666;
            transition: 0.3s ease;

            &:hover {
              color: $primaryClr;
            }
          }
        }
      }
      //? CONTACT TOP END

      //* CONTACT BOTTOM START
      .contactBottom {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fafafa;

        .map {
          width: 40%;

          iframe {
            width: 500px;
            height: 350px;
            border: none;
          }
        }

        .contactForm {
          width: 40%;
          padding: 48px;
          display: flex;
          flex-direction: column;
          input {
            margin-bottom: 16px;
            padding: 6px 12px;
            width: 300px;
            height: 65px;
            font-size: 18px;
            text-align: center;
          }
          textarea {
            margin-bottom: 16px;
            padding: 12px;
            resize: none;
            width: 300px;
            height: 90px;
            font-size: 18px;
            text-align: center;
          }
          button {
            @include primaryBtn();
            width: 150px;
            height: 60px;
            font-size: 16px;
          }
        }
      }
      //* CONTACT BOTTOM END
    }
  }
}

//? CONTACT RESPONSIVE START
@media (max-width: 1405px) {
  .contact {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 1200px) {
  .contact {
    padding: 72px 0;
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 1015px) {
  .contact {
    .container {
      .row {
        .contactTop {
          flex-wrap: wrap;
          .contactItem {
            width: 48%;
          }
        }
        .contactBottom {
          flex-direction: column;

          .map {
            width: 80%;
            text-align: center;
          }
          .contactForm {
            width: 80%;
            align-items: center;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .contact {
    .container {
      .row {
        .contactTop {
          .contactItem {
            width: 100%;
          }
        }
        .contactBottom {
          .map {
            iframe {
              width: 300px;
              height: 200px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .contact {
    padding: 50px 0;
  }
}

@media (max-width: 380px) {
    .contact {
      .container {
        .row {
          .contactBottom {
            .map {
              iframe {
                width: 200px;
                height: 130px;
              }
            }
            .contactForm {
                input {
                  margin-bottom: 16px;
                  padding: 6px 12px;
                  width: 200px;
                  height: 45px;
                  font-size: 18px;
                  text-align: center;
                }
                textarea {
                  margin-bottom: 16px;
                  padding: 12px;
                  resize: none;
                  width: 200px;
                  height: 70px;
                  font-size: 18px;
                  text-align: center;
                }
                button {
                  @include primaryBtn();
                  width: 150px;
                  height: 60px;
                  font-size: 16px;
                }
              }
          }
        }
      }
    }
  }
//? CONTACT RESPONSIVE END

// CONTACT END
